# CLion stuff
cmake-build-debug
.idea

# Mac stuff
.DS_Store
build_xcode

.vs
.vscode
.cache
CMakeFiles
build

# SPIRV files
*.spv
imgui.ini

# FMOD stuff
thirdparty/fmod/api
thirdparty/fmod/plugins
test.json
