# CLion stuff
cmake-build-debug
.idea

# Mac stuff
.DS_Store
build_xcode

.vs
.vscode
.cache
CMakeFiles
build
build_debug
build_release

# SPIRV files
*.spv
imgui.ini

# FMOD stuff
thirdparty/fmod/api
thirdparty/fmod/plugins

# Asset files
resources/assets_tmp
*.blend1